  
<!-- Three -->
<h1 class="headline">Links</h1>
<div style="text-align: center">
<ul class="icons", style="font-family: FontAwesome">
{{ with .Site.Params.sites.github }}  
    <a href="//github.com/{{ . }}" target="_blank" class="icon fa-github fa-4x">
        <span class="label">GitHub</span>
    </a>
{{ end }}
{{ with .Site.Params.sites.linkedin }}  
    <a href="//linkedin.com/in/{{ . }}" target="_blank" class="icon fa-linkedin fa-4x">
        <span class="label">LinkedIn</span>
    </a>
{{ end }}
{{ with .Site.Params.sites.twitter }}  
    <a href="//twitter.com/{{ . }}" target="_blank" class="icon fa-twitter fa-4x">
        <span class="label">twitter</span>
    </a>
{{ end }}
{{ with .Site.Params.sites.spotify }}  
    <a href="//open.spotify.com/artist/{{ . }}" target="_blank" class="icon fa-spotify fa-4x">
        <span class="label">spotify</span>
    </a>
{{ end }}
{{ if not .Site.Params.rss.hide }}
    <a href="{{ if $.RSSLink }}{{ $.RSSLink }}{{ else }}{{ $.Site.RSSLink }}{{ end }}" class="icon fa-rss fa-4x" type="application/rss+xml">
        <span class="label">RSS</span></a>
{{ end }}
</ul>
<ul class="icons", style="font-family: Academicons">
{{ with .Site.Params.sites.arxiv }}  
    <a href="//arxiv.org/a/{{ . }}.html" target="_blank" class="icon ai-arxiv ai-4x">
        <span class="label">arXiv</span>
    </a>
{{ end }}
</ul>
</div>


<section>
	{{ if isset .Site.Params.contact "email" }}
		{{ with .Site.Params.contact.title }}<h1 class="headline">{{ . }}</h2>{{ end }}
		{{ if isset .Site.Params.contact "content" }}
			{{ with .Site.Params.contact.content }}<p>{{ . | markdownify }}</p>{{ end }}
		{{ else }}
			<br>
		{{ end }}
	{{ end }}
	<div class="row" id="contact-form">
		{{ if (isset .Site.Params.contact "email") | and (gt (len .Site.Params.contact.email) 0) }}
		<div class="12u 10u$(small)">
			<form action="//formspree.io/{{ .Site.Params.contact.email }}" method="POST">
				<div class="row uniform 50%">
					<input type="hidden" name="_subject" value="New email from your portfolio" />
					<div class="6u$ 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="{{ .Site.Params.contact.form.name }}" required/></div>
					<div class="6u$ 12u$(xsmall)"><input type="email" name="_replyto" name="email" id="email" placeholder="{{ .Site.Params.contact.form.email }}" required/></div>
					<div class="12u$"><textarea name="message" id="message" placeholder="{{ .Site.Params.contact.form.message }}" rows="4" required></textarea></div>
					<input type="text" name="_gotcha" style="display:none" />

					<ul class="actions">
						<input type="submit" value="{{ .Site.Params.contact.form.submit }}" />
					</ul>
				</div>
			</form>
		</div>
		{{ else }}
	
		{{ end }}
		</div>
</section>
