{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  
  {{ $lenTitle := len .Params.header }}
  {{ $str := string .Params.header }}
  {{ $arr := .Site.Params.colours }}

  <span class="base05">[</span>
  {{ range $index, $num := (seq  $lenTitle  ) }}
    <span class={{ index $arr $index }} >{{ substr $str $index 1 }}</span>
  {{ end }}
  <span class="base05">]</span>
  <span class="base05"> ;</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  <h3>{{ .Description }}</h3>
</div>
